port = 2304

[application]
env = "development"

[database]
pool_size = 100
port = 5432
name = "categories"
host = "localhost"
user = "postgres"
password = "password"

[nats]
hosts = ["nats://localhost:4222"]

[[nats.jetstream]]
name = "stream"
subjects = ["test.>"]
max_msgs = 1000
max_bytes = 10485760

[[nats.jetstream.consumers]]
name = "consumer"
dispatch = "pull"
durable = true
deliver_subject = "consumer.deliver"

[cache]
dsn = "redis://localhost:6379"
is_cluster = false
max_connections = 50

# vim:ft=toml
