port = 2210

[application]
env = "development"

[database]
pool_size = 100
port = 5432
name = "sellershut"
host = "localhost"
user = "postgres"
password = "password"

[cache]
dsn = "redis://localhost:6379"
is_cluster = false
max_connections = 50

# vim:ft=toml
